@model Vidly.ViewModels.MovieFormViewModel
@using Vidly.Support
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>

@using (Html.BeginForm(ActionHelpers.MovieNew, ActionHelpers.Movies))
{
    <div class="form-control">
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
    </div>
    <div class="form-control">
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:d MMMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-control">
        @Html.LabelFor(m => m.Movie.NumberInStock)
        @Html.TextBoxFor(m => m.Movie.NumberInStock, new { @class = "form-control" })
    </div>
    <div class="form-control">
        @Html.LabelFor(m => m.Movie.GenreId)
        @Html.DropDownListFor(m => m.Movie.GenreId,
       new SelectList(Model.Genres,SelectListHelpers.Id, SelectListHelpers.Kind),"Select Genre", new { @class = "form-control" })
    </div>
    @Html.HiddenFor(x => x.Movie.Id)
    <button class="btn btn-primary">Submit</button>
}
